spotify
session
Thunar
Vencord
VSCodium
wal
xfce4
xsettingsd
yay
ZapZap
dolphinrc
mimeapps.list
pavucontrol
user*
assets
dconf
discord
Discord
dunst
Electron
glib*
google*
gtk*
kde*
mpv
qt*
pulse
nwg-look
systemd
obs-studio
fish/completions
fish/conf.d
fish/functions
fish/fish_variables