assets
arkrc
baloofileinformationrc
BraveSoftware
btop/btop.log
btop/themes
cava
clipse
dconf
discord
Discord
dolphinrc
dunst
Electron
filetypesrc
fish/completions
fish/conf.d
fish/fish_variables
fish/functions
gwenviewrc
glib*
go
google*
gtk*
inkscape
kate*
kactivitymanagerdrc
kconf_updaterc
kde*
krita*
kwalletrc
karboncalligraphyrc
mimeapps.list
mpv
neofetch/config.conf
nwg-look
obs-studio
obsidian
pavucontrol
ppsspp
pulse
qt*
QtProject.conf
reactionary
session
spotify
StardewValley
systemd
Thunar
trashrc
user*
VSCodium
Vencord/dist
Vencord/settings
Vencord/themes/WalCord.css
vesktop
vlc/vlc-qt-interface.conf
vlc/vlcrc
.vscode
wal/colorschemes
wpg
xsettingsd
xfce4
yay
ZapZap
zed

# AGS

ags/@girs
ags/node_modules
ags/.gitignore
package.json
tsconfig.json
env.d.ts
