arkrc
assets
baloofileinformationrc
btop/themes
btop/btop.log
BraveSoftware
cava
clipse
discord
Discord
dolphinrc
dconf
dunst
Electron
fish/completions
fish/conf.d
fish/functions
fish/fish_variables
glib*
go
google*
gtk*
kde*
krita*
kwalletrc
mimeapps.list
mpv
nwg-look
obs-studio
pavucontrol
ppsspp
pulse
qt*
QtProject.conf
reactionary
systemd
Thunar
trashrc
user*
VSCodium
Vencord/dist
Vencord/settings
Vencord/themes/WalCord.css
wal/colorschemes
spotify
session
xsettingsd
xfce4
yay
ZapZap
.vscode