@import "../../.cache/wal/colors-waybar.css";

* {
  font-family: "Google Sans";
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-radius: 25px;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  background: rgba(0, 0, 0, 0.5);
}

#window {
  margin: 2px 2px 2px 2px;
  color: @foreground;
}

#cpu,
#memory,
#disk,
#custom-updates,
#network,
#mpris {
  margin: 2px 2px;
  color: @foreground;
  border-radius: 10px;
}

#workspaces {
  margin: 2px 2px;
  border-radius: 10px;
}

#workspaces button {
  margin: 2px 2px;
  color: @foreground;
}

#workspaces button.active {
  transition: color 0.1s;
  color: @color3;
}

#workspaces button:hover {
  transition: color 0.1s;
  color: @color4;
  background-color: transparent;
}

#workspaces button.urgent {
  transition: color 0.1s;
  color: #8d4040;
  background-color: transparent;
}

#notifications {
  color: @foreground;
}

#pulseaudio {
  color: @foreground;
}

#custom-clock {
  margin: 0px 15px 0px 2px;
  color: @foreground;
}

#battery {
  margin: 2px 2px;
  color: @foreground;
}

#custom-launcher {
  margin: 0px 7px 0px 15px;
  color: @foreground;
}

#custom-notifications {
  color: @foreground;
}

#custom-spacer {
  color: @color3;
}