/**
 * @name WalCord
 * @author CursedSen
 * @version 1.0.0
 * @description Pywal utility for Discord themes
 * @source https://github.com/CursedSen/Vencord/templates/colors-discord.css
**/

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;700&display=swap');

* {{
    --font-primary: 'Google Sans', sans-serif !important;
    
    --background-primary: {background};
    --background-secondary: {background};
    --background-tertiary: {background};

    --background-primary-alt: {background};
    --background-secondary-alt: {background};
    --background-tertiary-alt: {background};

    --channeltextarea-background: {background};
    --custom-channel-members-bg: {background};

    --profile-gradient-primary-color: {background};
    --profile-gradient-secondary-color: {background};

    --__header-bar-background: {background} !important;

    --scrollbar-auto-track: {background};
    --scrollbar-thin-track: {background};
    
    --input-background: color-mix(in srgb, {background}, black 20%);
    --autocomplete-bg: color-mix(in srgb, {background}, black 20%);
    --background-nested-floating: color-mix(in srgb, {background}, black 20%);
    --background-floating: color-mix(in srgb, {background}, black 20%);
    
    --primary-630: {background};
}}